channels==2.4.0
chardet
django==2.2.*
motor==2.3.0
psycopg2==2.8.*

-e git+https://git@github.com/tolstoyevsky/cusdeb-tz.git#egg=cusdeb-tz
-e git+https://github.com/tolstoyevsky/shirow.git#egg=shirow
